<!DOCTYPE html>
<html>
<head>
	<title>Priest And Devil</title>
	<link rel="icon" type="image/icon" href="image/game.ico">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
	<style>
		<%include ./css/indexscript %>
	</style>
</head>
<body>
	<div>


		<div id="main">
			<div class="header">
				<h2>Timer :</h2>
				<h2 id="timer">00:00</h2>
				<h2>sec</h2>
			</div>


